[project]
	description = Convert Debian's Packages file into grep-able arrays 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeremiah
[access "refs/for/refs/*"]
	read = group user/jeremiah
	push = group user/jeremiah
	label-Code-Review = -2..+2 group user/jeremiah
	label-Verified = -1..+1 group user/jeremiah
	rebase = group user/jeremiah
	removeReviewer = group user/jeremiah
	submit = group user/jeremiah
[access "refs/heads/*"]
	read = group user/jeremiah
	create = group user/jeremiah
	push = +force group user/jeremiah
	pushMerge = group user/jeremiah
[access "refs/tags/*"]
	push = +force group user/jeremiah
	pushTag = group user/jeremiah
	pushSignedTag = group user/jeremiah
